.body {
  background-image: url('../images/star-pattern.png');
  background-repeat: repeat;

h1 {
  text-align: center;
}

.header-image {
  padding: 20px;
}

top-header {
  padding-top: 10px;
  background-color: lightgray;
}

.marginauto {
    margin: 10px auto 20px;
    display: block;

}

.canvas-bg {
    background-image: url(./images/imageBackground.jpg);
    background-size: cover;
}

#trigger-play .btn-play {
  padding: 20px 50px;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid green;
}

.#header-lives ul li {
  display: inline-block;
}